.ui-mobile label,
.ui-controlgroup-label {
  display: block;
  margin: 0 0 0.4em;
  text-transform: none;
}
.ui-input-text input,
.ui-input-search input {
  margin: 0px 4px 0px 4px;
  min-height: 2.2em;
  text-align: left;
  border: 0;
  background: transparent none;
  -webkit-appearance: none;
  -webkit-border-radius: inherit;
  border-radius: inherit;
}
